/* src/app/pages/home/home.component.css */

.search-bar {
  flex-grow: 1;
}

input {
  max-width: 200px;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
